# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment files
venv/
ENV/
env/

# Flask specific files
instance/
*.log

# Environment variables
.env

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and other debug files
*.log
*.out
*.err

# Compiled Python files
*.pyo

# Python egg metadata
*.egg-info/
.eggs/

# Cached files
.cache/
*.swp

# Other
.idea/
.vscode/
node_modules/

# Ignore specific model file in notebooks directory
notebooks/models.p
notebooks/train.csv

