body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 1px;
}

textarea, input[type="text"] {
    width: 97.5%; 
    max-width: 100%; 
    margin-right: 10px; 
    margin-bottom: 20px;
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px;
}

input:focus, textarea:focus, select:focus, button:focus {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    border-color: #007bff;
    outline: none;
}



button {
    padding: 10px 15px;
    background-color: #c4640a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

button:active {
    background-color:#b45808;
}

button:hover {
    background-color: #d5741a;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table, .table th, .table td {
    border: 1px solid #ccc;
}

.table th, .table td {
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f9f9f9;
}

hr {
    margin: 20px 0;
}

h3 {
    color: #333;
    margin-top: 20px;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

p {
    font-size: 18px;
    text-align: left;
    margin: 10px 0;
}

.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    textarea, input[type="text"], select {
        width: 100%;
    }

    button {
        width: 100%;
    }
}
